EXPO_PUBLIC_SUPABASE_URL=https://wvluapovnqsvpytyqhnd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2bHVhcG92bnFzdnB5dHlxaG5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NDMwNTgsImV4cCI6MjA5OTUxOTA1OH0.Lgrf6_fBM0YzWkizFcvMk8JCGK1rNhbeKG11y7iTtEc
